# Dependencies
node_modules/
frontend/node_modules/
backend/odoo-venv

# Production builds
dist/
frontend/dist/

# Local env files
.env
.env*.local

# System/IDE files
.DS_Store
.vscode/
.idea/
*.log
